@model SpiritualCare.Model.Person.P_Person_Job

@{
    ViewBag.Title = "Person Job Relation - Delete";
    ViewBag.Module = "Person Job Relation";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>@ViewBag.Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Job_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Job_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
