@model SpiritualCare.Model.Person.P_Person_Actual_Meeting

@{
    ViewBag.Title = "Person Actual Meeting Relation - Details";
    ViewBag.Module = "Person Actual Meeting Relation";
}

<h2>Details</h2>

<div>
    <h4>@ViewBag.Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Church)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Church)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MeetingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MeetingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
