@model SpiritualCare.Model.Person.P_Person_Address

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>P_Person_Address</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Person_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Person_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
