@model SpiritualCare.Model.Person.P_Address

@{
    ViewBag.Title = "Person Address - Details";
    ViewBag.Module = "Person Address";
}

<h2>Details</h2>

<div>
    <h4>@ViewBag.Module</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AddressType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApartmentNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApartmentNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FloorNo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FloorNo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.StreetNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Governerate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Governerate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Comment)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Comment)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsDefault)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsDefault)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Long)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Long)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GPS_Lat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GPS_Lat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Modified)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Modified)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
