@model IEnumerable<SpiritualCare.Model.Person.P_Person_Person>

@{
    ViewBag.Title = "Person Person Relation - Index";
    ViewBag.Module = "Person Person Relation";
}

<h2>Index</h2>
<h4>@ViewBag.Module</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromPerson_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ToPerson_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RelationType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comment)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromPerson_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ToPerson_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RelationType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comment)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
