@model IEnumerable<SpiritualCare.Model.Activity.CareContact.A_CC_CareContactServant>

@{
    ViewBag.Title = "Care Contact Servant - Index";
    ViewBag.Module = "Care Contact Servant";
}

<h2>Index</h2>
<h4>@ViewBag.Module</h4>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CareContact_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Servant_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Created)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Modified)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CareContact_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servant_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Modified)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
